<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>Blog</title>
    <style>
      pre {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container mt-4 mb-4">
      <h2><%= blog.title %></h2>
      <img src="<%= blog.coverImgURL %>" alt="blogs" width="700px" />
      <pre><%= blog.body %></pre>
    </div>

    <div class="container mt-4 mb-4">
      <img src="<%= blog.createdBy.ProfileImage %>" alt="profile image" /> <%=
      blog.createdBy.name %>
    </div>

    <div class="container mt-4 mb-3">
      <h1>Comments (<%= comments.length %>)</h1>
      <% if (locals.user) { %>
      <form action="/blog/comment/<%= blog._id %>" method="post">
        <div class="mb-3">
          <input type="text" name="content" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      
      </form>
      <% } %>
    </div>
    <div class="container mt-3">
      <% comments.forEach(comment => { %>
      <div>
        <img
        src="../public//images//avatar.png" width="100px"
          <!-- src="<%= comment.createdBy.profileImage %>" -->
          alt="profile image"
        />
        <%= comment.createdBy.name %>
        <pre>
          <%= comment.content %>
        </pre>
      </div>
      <% }) %>
    </div>

    <%-include('./partials/script.ejs') %>
  </body>
</html>
